# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
venv/
.venv/
env/
.env

# Environment variables
*.env
.env.*

# Distribution / packaging
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# Node (package.json present)
node_modules/

# Logs
*.log
dist/
